<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bootstrap Responsive Nav Bar</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/frontend/static/css/admincss/branch_details.css">
    </head>
<body>
<!--nav bar--->
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"><img src="/frontend/static/img/VVIT_logo.svg" alt="vvit"  width="80"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-justify"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of nav bar--->
<!-- branch and search bar-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class=" d-flex flex-row justify-content-center">
            <div>
                <button class="btn btn-primary search">CSM-year</button>
            </div>
            <div class="search-container m-2">
                <input type="search" name="search" id="search"   placeholder="  SEARCH STUDENT ROLLNO " class="search-input">
                <label for="search" class="m-2"><i class="bi bi-search search-icon"></i></label>
            </div>
            </div>
        </div>

<!------- add delete book ,add delete student----->
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class=" d-flex flex-row justify-content-between">

                 <div>
                      <button class="btn btn-primary search" id="add-button" onclick="addButton()">ADD STUDENT</button>
                 </div>
                 <div>
                      <button class="btn btn-primary search">DELETE STUDENT</button>
                 </div>
                </div>
          </div>

<!--students numbers--->
<div class=" card mt-2 m-30 " >
    {% for student in students %}
    <div class=" p-3 d-flex flex-row justify-content-center">
        <a href="{% url "student_details" student.rollnumber %}"><button class="color1 btn  m-2 large-button" style="padding: 15px 30px;">{{ student.rollnumber }}</button></a>
    </div>
    {% endfor %}
            <div id="button-container" class="p-3 d-flex flex-row justify-content-center">
                <!-- Existing Buttons will be appended here -->
            </div>

</div>

</div>
</div>
<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function addButton() {
        var button = document.createElement("button");
        button.textContent = "NEW Student";
        button.classList.add("btn", "color1", "m-2");
        document.getElementById("button-container").appendChild(button);
    }



</script>
</body>
</html>